{% extends "::base.html.twig" %}

{% block title %}Conferences{% endblock %}

{% block body %}
    <div class="mdl-grid">
        {% for conference in conferences %}
            <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp mdl-color-text--grey-800">{# portfolio-card mdl-shadow--4dp #}
                {#<div class="mdl-card__media">
                    <img class="article-image" src=" images/example-work01.jpg" border="0" alt="">
                </div>#}
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">{{ conference.title }}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    {{ conference.description|nl2br }}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="portfolio-example01.html">Read more</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}