parameters:
    conference.registration.class: ConferenceSchedulerBundle\EventListener\RegistrationListener
    conference.manager.class: ConferenceSchedulerBundle\Service\ConferenceManager

services:
    conference.manager:
        class: "%conference.manager.class%"
        arguments:
            - "@doctrine.orm.default_entity_manager"
            
            
    conference.registration:
        class: "%conference.registration.class%"
        arguments:
            - "@router"
        tags:
            - { name: kernel.event_subscriber }
 
    twig.extension.text:
        class: Twig_Extensions_Extension_Text
        tags:
            - { name: twig.extension }