{% extends 'base.html.twig' %}

{% set nav = 'conference' %}

{% block body %}
    <div class="mdl-tabs mdl-js-tabs ">
        {% include 'ConferenceSchedulerBundle:Conference:tabs.html.twig' with {'conference': conference, 'active': 'program'} %}

        <div class="mdl-tabs__panel is-active">
            <br>
            <h1 class="mdl-layout-title">Conference creation</h1>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" />
            {{ form_end(form) }}

            <ul>
                <li>
                    <a href="{{ path('conference_index') }}">Back to the list</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
